/* Screen Stylesheet for Wedding Template - Created by www.designkindle.com */

/* =Imports
============================================================================== */

@import url("resets.css");

@font-face {
	font-family: "Amatic SC";
	src: url('AmaticSC-Regular.html');
}
@font-face {
	font-family: "Amatic SC Bold";
	src: url('Amatic-Bold.html');
}
@font-face {
	font-family: "My Underwood";
	src: url('MyUnderwood.html');
}
@font-face {
	font-family: "Kaushan";
	src: url('Kaushan.html');
}
@font-face {
	font-family: "Moon Flower Bold";
	src: url('MoonFlowerBold.html');
}
@font-face {
	font-family: "Moon Flower";
	src: url('MoonFlower.html');
}
@font-face {
    font-family: "Sant Elia";
    src: url('SantEliaScriptAltLight.otf');
}
@font-face {
    font-family: "Milton One";
    src: url('Milton_One.otf');
}

/* =Base
============================================================================== */

/* General
-------------------------------------------------------------------------- */

body {
    min-width: 1068px;
    font-family: "Sant Elia",sans-serif!important;
    background: #f5f2e9 url(../img/main-bg.gif) top center repeat;
    color: #665e57;
}

p {
    background: #f5f2e9 url(../img/main-bg.gif) top center repeat;
    color: #665e57;
}

.submit-login	{
    background: url(../img/button.png) no-repeat;
    border: none;
    cursor: pointer;
    display: block;
    height: 39px;
    text-indent: -3000px;
    width: 82px;
}

.temoins .left-1 {
    float: left;
}

.temoins .right-1 {
    width: 600px;
    float: right;
    font-size: 27px;
}

.temoins .left-2 {
    width: 600px;
    font-size: 27px;
    float: left;
}

.temoins .right-2 {
    float: right;
}

.temoins .name {
    font-size: 40px;
    display: block;
}

/* =Header
============================================================================== */

/* General
-------------------------------------------------------------------------- */

#header {
    background: url(../img/header.png) top center no-repeat;
}

#header .content {
    margin: 0 auto;
    width: 1250px;
    height: 200px;
    position: relative;
}

/* Logo
-------------------------------------------------------------------------- */

#logo {
    width: 670px;
    height: 288px;
    background: url(../img/logo.png) top left no-repeat;
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    position: absolute;
    top: 20px;
    left: 155px;
}

/* Main Nav
-------------------------------------------------------------------------- */

#nav {
    margin: 0 auto;
    width: 1200px;
    height: 53px;
    position: absolute;
    bottom: 0;
    left: 80px;
}

#nav li {
    line-height: 50px;
}

#nav strong {
    padding: 0 17px;
}

#nav a, #nav a:visited, #nav strong {
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

#nav a:hover {
    text-decoration: underline;
}

#nav .left {
    float: left;
}

#nav .left li {
    float: left;
}

#nav .right {
    float: right;
}

#nav .right li {
    float: left;
}

/* =Content
============================================================================== */

/* Page Layout
-------------------------------------------------------------------------- */

#pageTop {
    margin: 18px auto 0 auto;
    padding-top: 50px;
    width: 1068px;
    background: url(../img/page-top.png) top left no-repeat;
}

#pageMid {
    width: 1068px;
    background: url(../img/page-mid.png) top left repeat-y;
}

#pageBtm {
    padding-bottom: 30px;
    width: 1068px;
    min-height: 36px;
    background: url(../img/page-btm.png) bottom left no-repeat;
    position: relative;
    top: 66px;
}

/* Main Content
-------------------------------------------------------------------------- */

#pageTop .content {
    margin: 0 auto;
    width: 930px;
    position: relative;
    bottom: 50px;
    font-size: 25px;
}

/* Home
-------------------------------------------------------------------------- */

/* slideshow */

#slideshow {
    margin: 20px auto 20px auto;
    width: 631px;
    height: 415px;
    background: url(../img/slideshow-bg.jpg) top left no-repeat;
    position: relative;
}

#slideshow img { position: absolute; left: 19px; top: 18px; }

/* Ceremony & Reception
-------------------------------------------------------------------------- */

/* schedule */

#schedule {
    padding: 0 150px 0 150px;
}

#schedule li {
    padding: 15px 0;
    width: 100%;
    float: left;
}

#schedule strong {
    width: 140px;
    font-size: 30px;
    line-height: 30px;
    color: #dededd;
    text-align: right;
    float: left;
    position: relative;
    bottom: 12px;
}

#schedule p {
    margin: 0;
    width: 470px;
    float: right;
}

/* Hotels & Directions
-------------------------------------------------------------------------- */

#hotelDescriptions {
    margin-bottom: 40px;
}

#hotelDescriptions img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

#hotelDescriptions ul {
    padding: 10px 0 10px 0;
    height: 110px;
}

#hotelDescriptions li {
    width: 100%;
    background: url(../img/dotted-underline.gif) 0 17px repeat-x;
    float: left;
}

#hotelDescriptions strong {
    padding: 5px 5px 0 0;
    background: #fff;
    float: left;
}

#hotelDescriptions span {
    padding: 5px 0 0 5px;
    background: #fff;
    float: right;
}

#hotelDescriptions p {
    margin: 0;
    padding-top: 40px;
    float: left;
}

/* Registry
-------------------------------------------------------------------------- */

#registryList {
    margin-bottom: 40px;
}

#registryList .left {
    width: 450px;
    float: left;
}

#registryList .right {
    width: 450px;
    float: right;
}

/* Button
-------------------------------------------------------------------------- */


.btn {
  background: #fff7ee;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #FFE4E1;
  text-decoration: none;
}


td {
    padding: 0 0 10px 0;
}

/* =Common
============================================================================== */	

/* Headings, Paragraphs, Lists, Links
-------------------------------------------------------------------------- */

p, ul, ol, dl, pre {
    margin-bottom: 15px;
}

h1, h2, h3, h4 {
    margin-bottom: 15px;
    font-weight: normal;
    color: #857a71;
}

h1 {
    font-size: 26px;
    line-height: 1.1;
}

h2 {
    font-size: 22px;
    line-height: 1.2;
}

h3 {
    font-size: 18px;
    line-height: 1.3;
}

h4 {
    font-size: 14px;
    line-height: 1.4;
}

ul {
    list-style: none;
}

ol {
    margin-left: 15px;
    list-style: decimal;
}

/* quotes */

blockquote {
    font-size: 27px;
    font-weight: bold;
    font-style: italic;
    color: #e4e0dc;
    text-align: center;
}

/* main title */

.mainTitle {
    text-align: center;
    background: url(../img/main-title2.gif) center center no-repeat;
    font-size: 55px;
}

.mainTitle strong {
    font-family: "Milton One",sans-serif!important;
    padding: 10px;
    font-weight: normal;
    background: #fff;
    font-size: 150%;
}

/* centered text */

.centeredText {
    font-size: 30px;
    text-align: center;
}

/* links */

a, a:visited {
    color: #a15141;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

/* Misc
-------------------------------------------------------------------------- */

/* hide */

.displayNone {
    display: none;
}

div#justify {
    text-align: justify;
}

/* Photo
-------------------------------------------------------------------------- */
div.content img.picture {
    width: 900px;
}